/* Adding  CSS Basic. */

.row {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 60px;
}

.white, .black {
  border: 1px solid black;
  width: 12.5%; /* 100% / 8 squares = 12.5% */
  height: 100%;
  float: left;
}

.white {
  background-color: white;
}

.black {
  background-color: #787878;
}


/* The footer styling. */
#footer {
 border:solid 1px;
 padding: 10px;
 margin:10px;
}
