body{
  background-image: url('../images/BackgroundsWallpaper.jpg');  
}

/* Set 1: Header style updated by Divyalakshana Perumal Rajaram */
#title {
position:fixed;
top:0px;
left:0px;
padding:10px;
margin:0%; 
width:100%;
background-color:#62C2CE;
text-align:center;
z-index:10;
font-family: 'Libre Caslon Display';
font-weight: normal;
font-style: normal;
font-size:80px;
}

img {
 margin-left: 5px;
 margin-top:10px;
 width:50%  
 }

.chessboard {
 margin-top:15%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:10%;
 overflow: hidden;  
}

.row {
  position: relative;
  margin-left:10%
  margin-right:10%
}


.white{
  float: left;
  width: 12.5%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
}

.black{
  float: left;
  width: 12.5%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #787878;
}

#footer {
  border: solid 1px;
  padding: 10px;
  margin: 0px;
  text-align: center;
  background-color:#7EB5BD;
  width:100%;
}


